html {
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 0 2em;
    background-color: whitesmoke;
    border: 1px solid black;
}
header {
    border-bottom: 2px solid black;
    margin: .5em 0 1em;
}
header h1 {
    color: black;
}
main {
    margin-bottom: 1em;
}
h1 {
    font-size: 150%;
    margin: .5em 0;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
}
h3 {
    font-size: 100%;
    margin: .15em 0 .25em;
}
h4 {
    font-size: 80%;
    margin: .15em 0 .25em;
}
h1, h2, h3 {
    color: firebrick;
}
h1.title {
    float: left;
}
ul {
    margin: 0 0 .5em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
p {
    margin: 0;
    padding-bottom: .5em;
}
form {
    margin: 0;
    padding: 0;
}
input[text], select {
    width: 15em;
}
label {
    width: 5em;
    float: left;
    margin-right: 1em;
    margin-bottom: .5em;
    text-align: right;
}
br {
    clear: left;
}
.topnav {
    background-color: gainsboro;
    overflow: hidden;
    border-radius: 5px;
}
.topnav a {
    float: left;
    color: gray;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 24px;
}
.topnav a:hover {
    background-color: gray;
    color: black;
}
.topnav a.active {
    background-color: darkgray;
    color: white;
}
table {
    border-collapse: collapse;
    border: 2px solid firebrick;
    border-radius: 5px;
}
table.results {
    table-layout: fixed;
    width: 100%;
}
table td, table th {
    border: 1px solid firebrick;
    text-wrap: wrap;
}
table td p, table th p {
    text-wrap: wrap;
    overflow-wrap: break-word;
    font-size: 80%;
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    border-spacing: 5px;
    float: right;
    margin: 1.8% .5%;
    font-size: 75%;
}
a.cancel {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    border-spacing: 5px;
    margin: 1.8% .5%;
    font-size: 75%;
}
h4.username {
    float: right;
    margin: 1.8% .5%;
}
